@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "var(--font-header)";
}

::-moz-selection {
  /* Code for Firefox */
  background: #acc9b280;
}

::selection {
  background: #acc9b280;
}
